/* CURRENTLY IN: styles/main.css */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	background-color: whitesmoke;
}


.main h1 {
	text-align: center;
	line-height: 0.125rem;
	font-size: 3.75rem;
	font-weight: 56.25rem;
	padding: 0.625rem;
	margin-bottom: 1.25rem;
	color: black;
  	-webkit-text-fill-color: white; 
  	-webkit-text-stroke-width: 0.006rem;
	  -webkit-text-stroke-color: black;
	font-family: 'Rakkas', cursive;
}

#soundcloud-player .col {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#soundcloud-player .col-left {
	width: 20%;
	height: 100%;
	background-color: #303030;
	overflow: auto;

	position: fixed;
	left: 0;
	top: 0;

	min-width: 12.5rem;
	z-index: 1;
}

#soundcloud-player .col-right {
	width: 100%;
	height: 100%;
	overflow: auto;

	position: fixed;
	left: 0;
	top: 0;

	box-sizing: border-box;
	padding-left: 20%;
}

#soundcloud-player .main {
	box-sizing: border-box;
	padding: 1.875rem;
	margin: 1.875rem;
}

#soundcloud-player .input {
	width: 100%;
}

#soundcloud-player .input-search {
	width: 100%;
	display: block;
}

#soundcloud-player .search.icon {
	pointer-events: initial;
	cursor: pointer;
}

#soundcloud-player .search-results {
	justify-content: center;
    margin-top: 1.875rem;
}

.reset {
	float: right;
	text-decoration: none;
	font-weight: bold;
	color: orangered;
	font-size: large;
}
